:root {
    --blue: #158EEA;
    --yellow: #FFB619;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

i {
    color: var(--white)
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar {
    background-color: var(--yellow);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.social-media ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.4
}

.social-media li {
    list-style: none;
    margin-right: 5px;

}

.social-media li a {
    color: var(--white);
    font-size: 1.5rem;
}

.yellow-image {
    position: absolute;
    z-index: -1;
    right: 0;


}

main {
    margin: 10% auto 5%;
}

.title {
    font-weight: 700;
    padding: 10px 0;
    font-size: 1.5em;
    letter-spacing: 0.2rem;

}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about img {
    width: 40%;
    border-radius: 8px;
    aspect-ratio: 3/2;
    filter: drop-shadow(10px 7px 4px var(--blue));

}

.about-text {
    font-size: 1.1rem;
    width: 50%
}

.info {
    margin: 0 auto;
}



.info-main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}

.info-main div {
    outline: 1px solid var(--yellow);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.info-main div:nth-child(2n) {
    background-color: var(--blue);
    color: white;
}

.info-main div:hover {
    transform: translateY(5%);
    transition: transform 1s;
}

.info-main p {
    padding: 20px;
}

.info-main li {
    list-style: none;
    line-height: 1.5rem;
    background-color: var(--yellow);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    color: var(--white);
    font-size: 1.1rem
}

.info-main a {
    color: var(--blue);
    font-weight: 600;
}

.info-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

footer {
    position: relative;
}

footer .footer-img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
}


footer .contact-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.contact-info ul {
    width: 70%
}

.contact-info a {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.call-center {
    width: 40%
}

.contact-info li {
    list-style: none;
    font-size: 1rem;
    margin-bottom: 5px;
}

.cib-app {
    margin: 2% 0 8% 0;
}

.cib-app-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cib-app-content p {
    width: 50%;
    font-size: 1.1rem;
}

.video-container {
    max-width: 140px;
}

video {
    width: 100%;
    border-radius: 40px;
    filter: drop-shadow(20px 7px 4px var(--blue));

}

@media screen and (max-width:768px) {
    main {
        margin: 15% auto 5%;
    }

    .info-main {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;

    }

    .about-text {
        font-size: 1.1rem;
        width: 100%
    }

    .about img {
        display: none;
    }

    .info img {
        display: none
    }

    footer .contact-info {
        align-items: flex-end;
    }

    .contact-info li {
        list-style: none;
        font-size: 0.7rem;
        margin-bottom: 0px;
    }

}

@media screen and (max-width:576px) {
    main {
        margin: 20% auto 5%;
    }

    .info-main {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .about {

        flex-direction: column;
    }

    .about-text {
        width: 100%
    }

    .about img {
        display: none;
    }

    .info-main div {

        padding: 20px;

    }

    .contact-info ul {
        width: 100%
    }

    .contact-info li {
        list-style: none;
        font-size: 0.6rem;
        margin-bottom: 0px;
    }

    .cib-app-content {
        flex-direction: column;
    }

    .cib-app-content p {
        width: 100%;
    }


}