@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: Montserrat-ExtrBold;
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.otf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-LightItalic;
    src: url(../fonts/Montserrat/Montserrat-LightItalic.otf);
}

@font-face {
    font-family: Montserrat-Black;
    src: url(../fonts/Montserrat/Montserrat-Black.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.otf);
}