.cap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-top: 30px;
}

.lang {
  display: flex;
}

.lang a {
  margin-left: 10px;
}

.lang a .language {
  width: 30px;
  height: 30px;
}

.lang a .language img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 991.98px) {
  .cap {
    display: unset;
  }

  .lang {
    margin: 20px 10px 20px 0;
  }
}
