@media only screen and (max-width: 1500px) {


    .slider-container .slider-item{
       z-index: 9;
        background-color: #fff;
    }

    .slider-container .slide-item-1 img.phones{
        max-width: 60%;
        right: 10%;
        margin-top: 18%;
    }

    .slide-item-1 .text-box{
        margin-top: 24%;
        left: 16%;
    }

    .slider-container .slide-item-1 .title-1{
        font-size: 460%;
        margin-bottom: 0;
    }

    .slider-container .slide-item-1 .title-2{
        font-size: 160%;
        margin-top: 10%;
        line-height: 31px;
    }

    .slider-container .slide-item-1 .title-3{
        max-width: 322px;
        font-size: 110%;
        text-align: justify;
        line-height: 23px;
    }
    .slider-container .slide-item-1 .btn-box img {
        max-width: 120px;
    }



    .slider-container .slide-item-2 h1{
        max-width: 338px;
        font-size: 360%;
        margin-top: 40%;
    }
}


/*
@media only screen and (max-width: 1600px) {

    .slider-container .slider-overlay-1{
        width: 100%;
    }

    .slider-container .slider-overlay-2{
        width: 100%;
    }

    .slider-container .slider-item{
        min-height: 640px;
    }

    .slider-container .slide-item-1 img.phones{

    }

    .slide-item-1 .text-box{
        width: 100%;

    }

    .slider-container .slide-item-1 .title-1{
        font-size: 600%;
    }

    .slider-container .slide-item-1 .title-2{
        font-size: 200%;
        max-width: 200px;
        margin-top: 11%;
        line-height: 42px;
    }

    .slider-container .slide-item-1 .title-3{
        max-width: 555px;
        font-size: 150%;
        text-align: justify;
        line-height: 32px;
    }

}*/
